.programmerNames {
	margin: auto;
	text-align: center;
	width: 80%;
	height: 400px;
	background-color: cadetblue;
	h3 {
		padding: 20px;
		font-size: 1.5rem;
	}
}

.monthlyBalance {
	margin: auto;
	text-align: center;
	width: 80%;
	height: 400px;
	// background-color: ;
	h3 {
		padding: 20px;
		font-size: 1.5rem;
	}
}

.orders {
	margin: auto;
	text-align: center;
	width: 80%;
	height: 400px;
	background-color: cadetblue;
	h3 {
		padding: 20px;
		font-size: 1.5rem;
	}
}
